language: minimal

before_install:
    - git submodule update --init --recursive

install:
  - wget -O hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.47/hugo_0.47_Linux-64bit.deb
  - sudo dpkg -i hugo.deb
  - rm -rf public 2> /dev/null

script:
  - hugo -v
  - echo "www.maugzoide.com" > public/CNAME

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  email: $GITHUB_EMAIL
  name: $GITHUB_USERNAME
  verbose: true
  keep-history: false
  local-dir: public
  target_branch: gh-pages
  on:
    branch: master
